In [1]:
!pip install --quiet pymongo

In [8]:
import pymongo
import pandas as pd
import json
import pprint

In [4]:
client = pymongo.MongoClient('35.167.189.162', 27016)

### Databases on MongoDB Server

In [5]:
client.database_names()

['admin', 'local', 'project4_database', 'tweets']

### Create a Reference to the `tweets` Database

In [6]:
twitter_db = client.tweets

In [7]:
twitter_db

Database(MongoClient(host=['35.167.189.162:27016'], document_class=dict, tz_aware=False, connect=True), 'tweets')

In [9]:
twitter_db.collection_names()

['my_eg_collection']

#### Create a reference to `my_gulf_collection`

In [10]:
coll_ref = twitter_db.my_gulf_collection

In [11]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'project4_database', 'tweets'], ['my_eg_collection'])

## Concatenate cleaned pickles and insert into MongoDB for storage

In [12]:
df_batch_1 = pd.read_pickle('../gulf_twitter_pickled/stream_Ø§Ù„Ø·Ø±ÙŠØ¬.p')

In [13]:
df_batch_2 = pd.read_pickle('../gulf_twitter_pickled/stream_Ù…ØºØ³Ù„Ø©.p')

In [22]:
df_batch_1.shape

(207, 3)

In [23]:
df_batch_2.shape

(215, 3)

In [16]:
gulf_df_streamed_timelines = df_batch_1.append([df_batch_2])

In [17]:
gulf_df_streamed_timelines.sample(10)

,cleaned_text,cleaned_name,cleaned_geo
2,ÙŠØªØ¹Ø·Ù„ Ø¹Ù†Ø¯Ùƒ Ø®Ù„Ø§Ø· Ù…ØºØ³Ù„Ø© ØªØ±ÙˆØ­ Ù…ÙƒØªØ¨ Ù…Ø¤Ø³Ø³Ø© ØµÙŠØ§Ù†Ø© ÙŠØ³...,esai123423,ÙˆØ·Ù†ÙŠ Ø§Ù„ØºØ§Ù„ÙŠ
17,ğŸ¤ğŸ¤ ÙŠÙÙ€Ù€Ø¨ Ù‚ØµØ¯Ùƒ Ø§Ù„ØºØ³Ø§Ù„Ø© Ø§Ù‡Ù… Ø´ÙŠ ØªÙƒÙˆÙ† Ù…Ø§Ø±ÙƒØ© ÙˆÙ†Ø¸ÙŠÙØ©...,sa_janubia,None
287,Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡ Ù…Ø§Ø¯Ù„ Ø§Ù„Ø·Ø±ÙŠØ¬ Ø§Ù„Ø«Ø§Ù†ÙŠ Ø¹Ø¯Ù„ +Ù…Ø§Ù„ÙŠ...,hanina82,None
60,: Ù…Ø´Ø±ÙˆØ¹ Ù…ØºØ³Ù„Ø© Ø³ÙŠØ§Ø±Ø§Øª Ù…ØªÙ†Ù‚Ù„Ø© Ø§Ù„ÙÙƒØ±Ø© Ù…Ø±Ø¨Ø­Ø©Ø­ÙŠØ« Ø£Ù†...,al_soomah,None
389,Ù…Ø§Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ ... ÙŠØ§Ù„ÙŠØ« ÙŠØ¹Ù…Ù… ÙÙŠ Ø§Ù„Ø·Ø±Ù‚ Ø§Ù„Ø³Ø±ÙŠØ¹Ø© Ù…Ø«Ù„...,AAlawone,None
86,ÙƒØ±Ø³ÙŠ + Ù…ØºØ³Ù„Ø© Ù…ÙˆØ¯ÙŠÙ„ Ø§ÙˆØ±ÙŠÙ†Øª Ù…Ø±Ø®Ù… ØŒ Ù…ØªÙˆÙØ± Ø¨Ø£ÙƒØ«Ø± Ù…...,Abtarco,None
43,: Ø£ÙŠÙ† Ø£Ø¬Ø¯ Ù…ØºØ³Ù„Ø© ØªÙ‚ÙˆÙ… Ø¨ØºØ³Ù„ Ù…Ø±Ø§ØªØ¨ Ø§Ù„Ø§Ø³Ø±Ø©,Ask_Almadina,Saudi Arabia
155,Ù„ÙŠØª Ø§Ù„ÙŠØ¯ Ù…ØºØ³Ù„Ø© Ù‚Ø¨Ù„ Ø§Ù„ØªØµÙˆÙŠØ±,juodi3,"Ø§Ù„Ø¯Ù…Ø§Ù…, Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©"
336,Ù…Ø­Ø¯Ø¯ÙŠÙ† Ø§Ù„Ø·Ø±ÙŠØ¬ Ø§Ù„Ù…ØµÙƒØ± Ø£Ù†Ø²ÙŠÙ† Ø§Ù†Ø§ Ø³Ø§ÙƒÙ† Ø¨Ø§Ù„Ø³Ù„Ø§Ù… ÙˆÙ…...,al_9ager727,Kuwait
294,Ù„Ù„Ø­Ø¯ Ù…Ù† Ø§Ù„Ø²Ø­Ù…Ø© ØªØ±Ù‰ ÙŠÙ‚Ø¯Ø±ÙˆÙ† ÙŠÙ†Ù‚Ù„ÙˆÙ† Ø§Ù„Ø¶ÙŠÙˆÙğŸ‡°ğŸ‡¼ğŸ‡´ğŸ‡²ğŸ‡¶ğŸ‡¦ğŸ‡¸...,Nora_buhamad,Kuwait

In [24]:
gulf_df_streamed_timelines.shape

(422, 3)

In [21]:
# df_json = df_batch_1.to_json()

In [22]:
# data = json.loads(df_json)

# coll_ref.insert_one(data)

In [25]:
coll_ref.insert_many(gulf_df_streamed_timelines.to_dict('records'))

In [26]:
coll_ref.count()

422

In [27]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'project4_database', 'tweets'],
 ['my_gulf_collection', 'my_eg_collection'])