In [1]:
#!pip install --quiet pymongo

In [2]:
import pymongo
import pandas as pd
import json
import pprint

In [3]:
client = pymongo.MongoClient('35.167.189.162', 27016)

### Databases on MongoDB Server

In [4]:
client.database_names()

['admin', 'local', 'tweets']

### Create a Reference to the `tweets` Database

In [5]:
twitter_db = client.tweets

In [6]:
twitter_db.collection_names()

['my_gulf_collection', 'my_eg_collection']

In [7]:
#twitter_db.my_gulf_collection.drop()

In [8]:
# for a in tweets_db.my_eg_collection.find():
#     pprint.pprint(a)

#### Create a reference to `my_gulf_collection`

In [9]:
gulf_coll_ref = twitter_db.my_gulf_collection

In [10]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'tweets'], ['my_gulf_collection', 'my_eg_collection'])

## Concatenate cleaned pickles and insert into MongoDB for storage

In [133]:
df_batch_1 = pd.read_pickle('../gulf_twitter_pickled/user_timeline_amoor99111.p')

In [134]:
df_batch_2 = pd.read_pickle('../gulf_twitter_pickled/user_timeline_alyazeedi96.p')

In [135]:
df_batch_3 = pd.read_pickle('../gulf_twitter_pickled/user_timeline_Basbosah.p')

In [136]:
#df_batch_4 = pd.read_pickle('../gulf_twitter_pickled/user_timeline_6al_asmaaa_.p')

In [137]:
df_batch_1.head(3)

                                        cleaned_text cleaned_name cleaned_geo
0               ÙˆØ§Ù†Ø§ Ø§Ø´Ù‡Ø¯ Ø­Ø¨ÙŠØ¨ØªÙŠ Ù…Ø³Ø§Ø¡Ùƒ Ø¬Ù…ÙŠÙ„ Ø§Ø³ØªØ§Ø°ØªÙ†Ø§   amoor99111
1  Ù…ØºØ±Ø¯ÙŠ Ø¹Ù…Ø§Ù† Ø¨Ù†Øª Ø§Ù„Ø¨Ø¯Ùˆ ÙÙŠ Ø¹Ù„ÙˆÙ… Ø§Ù„Ø·ÙŠØ¨ Ø³Ø¨Ø§Ù‚Ù‡ Ù…Ù† ØµØº...   amoor99111
2  Ø§Ù„Ù…ØºØ±Ø¯ Ø§Ù„Ø¹Ù…Ø§Ù†ÙŠ Ù…Ù‚Ø·Ø¹ ÙÙŠØ¯ÙŠÙˆ Ù…Ø¹Ø¨Ø± Ø¬Ø¯Ø§Ù‹ Ø¹Ù† Ø§Ù„ÙˆØ§Ù‚Ø¹ ...   amoor99111

In [138]:
df_batch_2.head(3)

                              cleaned_text cleaned_name cleaned_geo
0  ØµØ§Ø±Ø­ÙˆÙ†ÙŠ Ø¨Ø´ÙŠØ¡ Ù…Ø«ÙŠØ±Ù Ù„Ù„Ø§Ù‡ØªÙ…Ø§Ù… Ø§Ø«Ø§Ø¨ÙƒÙ… Ø§Ù„Ù„Ù‡  alyazeedi96    Insomnia
1           Ø®Ø¨Ø±ÙˆÙ†ÙŠ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª ØºØ±ÙŠØ¨Ø© Ø¹Ù† Ø§Ù„Ø¹Ø§Ù„Ù…  alyazeedi96    Insomnia
2                                      Ù…Ù„Ù„  alyazeedi96    Insomnia

In [139]:
df_batch_3.head(3)

,cleaned_text,cleaned_name,cleaned_geo
0,ÙØ¯ÙŠØª Ø§Ù‡Ù„ Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª ğŸ¤—ğŸ¤—ğŸ¤—,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
1,ØªØ®ÙŠÙ„ÙŠ Ù…Ù„ÙŠØ§Ø± Ù†Ø³Ù…Ø© ÙˆØªØ­Ø¨ÙŠÙ„Ùƒ ÙˆØ§Ø­Ø¯ ÙŠØ§Ø®ØªÙŠ Ø§Ù‚Ù„ Ø­Ø§Ø¬Ø© Ø­...,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
2,Ø§Ø³ØªÙ‚Ø¨Ù„ Ø¨Ø´Ø§Ø± Ø§Ù„Ø£Ø³Ø¯ Ø§Ù„ÙŠÙˆÙ… Ø§Ù„Ø±Ø¦ÙŠØ³ Ø§Ù„Ø±ÙˆØ³ÙŠ Ø¨ÙˆØªÙ† Ø¨Ø¯Ø§...,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ

In [140]:
#df_batch_4.head(3)

In [141]:
gulf_df = df_batch_1.append([df_batch_2, df_batch_3])

In [142]:
gulf_df.sample(10)

,cleaned_text,cleaned_name,cleaned_geo
2668,Ø§Ù†ØªØ¸Ø±ÙŠ Ù†Ù‚ÙˆÙ… Ù…Ù† Ø§Ù„Ù†ÙˆÙ… Ø§ÙˆÙ„,alyazeedi96,Insomnia
1117,Ø§Ù„ÙˆÙ‚Øª Ù…Ø§ ÙŠÙ†Ø§Ø³Ø¨Ù†ÙŠ Ù„Ù„Ø§Ø³Ù,alyazeedi96,Insomnia
393,Ø±ÙˆÙˆÙˆØ¹Ø© Ù…Ø§ Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡,amoor99111,
1620,ØµØ¨Ø§Ø­ Ø§Ù„Ø®ÙŠØ± ÙŠØ§ Ø§ÙˆÙ„ Ù…Ù† Ø°ÙƒØ±ØªÙ‡ ÙÙŠ Ø·Ø±ÙŠÙ‚ Ø§Ù„ØµØ¨Ø­ ØµØ¨Ø§Ø­ ...,amoor99111,
2291,Ø£ÙˆØµÙ‰ Ø¨Ø¹Ø¶ Ø§Ù„Ø­ÙƒÙ…Ø§Ø¡ ÙÙ‚Ø§Ù„ Ø£ØµÙ„Ø­ÙˆØ§ Ø£Ù„Ø³ÙÙ†ØªÙƒÙ…ØŒ ÙØ¥Ù† Ø§Ù„Ø±...,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
1388,ØµØ¨Ø§Ø­ Ù…ÙÙ†ÙŠØ± ÙÙŠ Ø¹ÙÙŠÙˆÙ† Ø§Ù„Ù…ÙØªØ£Ù…Ù„ÙŠÙ†Ù‘ Ø¨Ø§Ù„Ø­ÙÙŠØ§Ø© ØŒ Ù„ÙƒÙ...,amoor99111,
2169,Ø­ÙÙ„Ø© Ø·Ù„Ø§Ù‚ ÙÙŠ Ù…ÙˆØ±ÙŠØªØ§Ù†ÙŠØ§,amoor99111,
434,ÙƒÙ…ÙŠØ© Ù†ÙƒØ¯ Ø¨Ù‡Ø§Ù„Ù…ÙˆØ§Ù„ Ù…Ø§ØµØ§Ø±Øª Ù…Ø§ÙƒÙ…Ù„ØªÙ‡ Ù„Ø£Ù† Ø§Ù„Ø¬Ùˆ Ø­Ù„Ùˆ ...,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
1099,ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ ÙŠØ§Ù„Ù„ÙŠ ØªØ±Ø§Ø¨Ùƒ Ø°Ù‡Ø¨ ÙˆÙ†Ø³Ù…Ø© Ù‡ÙˆØ§Ø¦Ùƒ Ø·ÙŠØ¨...,amoor99111,
2885,Ù‡Ùˆ Ù…Ø§ Ø°ÙƒØ± Ø§Ù† Ø§Ù„Ø¬ÙØ§ ÙÙŠÙ‡ ÙƒØ³Ø±Ù‡ Ù„Ù„Ø®Ø§ÙÙ‚ Ø§Ù„ÙŠ Ù…Ù† Ù‡ÙˆÙ‰ ...,amoor99111,

In [143]:
gulf_df.tail()

,cleaned_text,cleaned_name,cleaned_geo
3178,Ù…Ù†Ø¹ÙˆÙ†Ù‡ Ø§Ù„Ø¨Ø·Ù„Ù‡,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
3179,Ø¶Ø­ÙƒØ© Ù…Ù„Ùƒ,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
3180,( â€¦,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
3181,Ø§Ù†Ø§Ù…Ù„Ø§Ø­Ø¸Ù‡ Ø¥Ù† Ø§Ø®ÙˆØªÙ†Ø§Ø§Ù„Ø¹Ø±Ø¨ Ù…Ø³Ø§Ù†Ø¯ÙŠÙ†Ø§Ø¨ÙƒÙ„ Ø´ÙŠ ÙˆØ¨ÙƒÙ„ Ø§...,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ
3182,Ø´Ù Ø§Ø¨ØªØ³Ø§Ù…Ø§Øª Ø§Ù„Ù…Ø¹Ø¬Ø¨ÙŠÙ† ÙˆØ±Ø§Ù‡,Basbosah,East - Ù…Ù…Ù„ÙƒØªÙŠ

In [144]:
gulf_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7139 entries, 0 to 3182
Data columns (total 3 columns):
cleaned_text    7139 non-null object
cleaned_name    7139 non-null object
cleaned_geo     7139 non-null object
dtypes: object(3)
memory usage: 223.1+ KB

In [145]:
gulf_coll_ref.count()

88545

In [146]:
gulf_coll_ref.insert_many(gulf_df.to_dict('records'))

In [147]:
gulf_coll_ref.count()

95684

In [132]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'tweets'], ['my_gulf_collection', 'my_eg_collection'])

In [21]:
# df_json = df_batch_1.to_json()

In [22]:
# data = json.loads(df_json)

# coll_ref.insert_one(data)